.regular{
    text-align: center;
    width: 40%;
    margin: 50px 400px;
    border: 1px solid black;
}
tr,th,td{
    border: 1px solid black;
}

.nested{
    margin: 100px 400px;
    border: 1px solid black;
    width: 40%;
}
div{
    border: 1px solid black;
    height: 100px;
    width: 100px;
}